export GOPATH=$PWD/go

export TERRAFORM_REPO=https://github.com/jrperritt/terraform.git
export TERRAFORM_BRANCH=openstack-gophercloud-v1.0

# export TERRAFORM_REPO=https://github.com/allomov/terraform.git
# export TERRAFORM_BRANCH=fix-current-dependencies
